@charset "utf-8";
/* CSS Document */

h6 {
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
	font-family: 'Asar', serif;
	font-size: 28px;
	color: #6D4582;
}
mark {
    background-color: #62A5D7;
	color: #6D4582;
}
mark.blue {
    color: #0000E3;
    background: none;
}
mark.darkblue {
    color: #0000A6;
    background: none;
}
mark.aqua {
    color: #B1D8D4;
    background: none;
}
span.caption {
	font-size: 12px;
}
span.picturedesc {
	font-size: 14px;
}
span.large {
	font-size: 16px;
}
span.larger {
	font-size: 18px;
}
span.normal {
	font-size: 8px;
}
span.floatleft {
	float: left;
}
span.floatright {
	float: right;
}
span.alignright {
	text-align: right;
}
ul.dashed {
    list-style: none;
    padding-left: 0;
}

ul.dashed > li {
    margin-left: 15px;  
}
ul.dashed > li:before {
    content: "-";
    margin-left: -15px;
}

/*images*/
img {
    border-radius: 4px;
	margin-left: 10px;
    padding: 0px;
}
img.large {
	height: 480px;
	margin-top: 10px;
	margin-right: 10px;
}
img.standard {
	height: 240px;
}
img.rabbits {
	margin-top: 15px;
	height: 240px;
}
img.spiderman1 {
	margin-top: 24px;
	margin-right: 5px;
	height:310px;
}
img.spiderman {
	margin-top: 280px;
	margin-right: 15px;
	height:400px;
}
img.galleryportrait {
	margin-bottom: 30px;
	margin-left: 70px;
	height: 550px;
}
img.gallerylandscape {
	margin-bottom: 30px;
	margin-left: 70px;
	height: 400px;
}

/*tables*/
table {
	border-collapse: collapse;
	table-layout: fixed;
}

/*products page*/
.products {
	border-collapse: collapse;
	margin-left: 70px;
	margin-top: -30px;
	font-size: 20px;
}
.products th{
	padding: 15px;
	padding-left: 120px;
	border-bottom: 3px solid #BEBEBE;
	text-align: left;
	width: 260px;
}
.products td {
	padding: 15px;
	padding-left: 120px;
	border-bottom: 3px solid #BEBEBE;
	text-align: left;
	width: 260px;
}

td.alignright {
	text-align: right;
}
th.product1 {
	font-weight: normal;
}
/*product detail pages*/
table.detail {
	margin-left: 20px;
}
table.detail th {
	border-bottom: 3px solid #A0C6D5;
	border-top: 3px solid #A0C6D5;
	border-left: 3px solid #A0C6D5;
	border-right: 3px solid #A0C6D5;
	padding-bottom: 20px;
	font-size: 15px;
}
table.detail td {
	border-bottom: 3px solid #A0C6D5;
	border-top: 3px solid #A0C6D5;
	border-left: 3px solid #A0C6D5;
	border-right: 3px solid #A0C6D5;
}
th.name {
	width: 130px;
}
th.description {
	width: 540px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 20px;
	border-bottom: 3px solid #A0C6D5;
	font-size: 15px;
}
th.picture {
	padding-left: 50px;
	padding-right: 50px;
}
td.detail1 {
	text-align: center;
}
td.detail2 {
	width: 540px;
	padding-left: 30px;
	padding-right: 30px;
}
td.detail3 {
	padding-left: 40px;
	padding-right: 140px;
}
th.name {
	width: 100px;
}
/*-*/
th.namea {
	width: 100px;
}
td.detail1a {
	text-align: center;
	width: 100px;
}
th.descriptiona {
	width: 400px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 20px;
	border-bottom: 3px solid #A0C6D5;
	font-size: 15px;
}
td.detail2a {
	width: 400px;
	padding-left: 50px;
	padding-right: 50px;
}
td.detail3a {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 50px;
}
ul {
    list-style-image: url(../images/bulletfish.png);
}

/*class registration form*/
table.crform td {
	padding: 5px;
}

body {
	margin: 0px;
}

#banner
{
	background-color: #62A5D7;
	padding-top: 20px;
	color: #6D4582;
	font-family: 'Asar', serif;
	font-size: 45px;
}
.banner img {
	float: left;
}
.header h7 {
	text-align: right;
}

.secondary_header {
	width: 100%;
	padding-top: 8px;
	padding-bottom: 45px;
	background-color: #B1D8D4;
}
.secondary_header ul li {
	list-style: none;
	float: left;
	margin-right: auto;
	margin-top: 0px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 15px;
	color: #2D5DE1;
	margin-left: auto;
	text-align: center;
	width: 16%;
	transition: all 0.3s linear;
}
.secondary_header ul li:hover {
	color: #618AF9;
	cursor: pointer;
}
a:link {
    text-decoration: none;
	color: #2D5DE1
}

a:visited {
    text-decoration: none;
	color: #2D5DE1
}

a:hover {
    text-decoration: none;
	color: #618AF9
}
a:active {
    text-decoration: none;
	color: #618AF9
}

#content
{
	background-image: url(../images/Background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 1px;
	padding-bottom: 25px;
	padding-left: 25px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 14px;
}

#footer
{
	background-color:#F99496;
	font-family: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 30px;
	padding-left: 3px;
}
/*useful colours #C96988 #9F939E #0C2058 concern: lighter background colour if needed #A583CB image border #092CFF/